@charset "UTF-8";

.dev
{
	width: inherit;
	position: absolute;
}

.dev ul
{
	width: inherit;

	position: relative;
}

.dev li
{
	width: 40px;
	height: 40px;
	margin: 10px 0 0 10px;
	position: relative;
	display: inline-block;
	background: pink;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

.dev p
{
	font-size: 14px;
	position: absolute;
	
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1;
	
	display: block;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	
	color: #000;
	
	pointer-events: none;
}

.keyboard
{
	width: 100px;
	height: 100px;

	position: absolute;
	left: 50%; bottom: 0;
	transform: translateX(-50%);

	cursor: pointer;

	background-image: url(../img/keyboard.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}