@charset "UTF-8";

*
{
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
}

.tween
{
	backface-visibility: none;
}

.destroy
{
	width: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
}

.camera
{
	width: 50%;
	height: 50%;

	position: absolute;

	left: 50%; top: 50%;

	transform: translate(-50%, -50%);

	overflow: hidden;

	background: #000;
	background: #fe4a49;
}

.ui
{
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	left: 0; top: 0;
}

.ui ul
{
	/* 	OFF SET BORDER TO WIDTH AND HEIGHT */
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	
	position: absolute;
	left: 50%; top: 50%;
	
	transform: translate(-50%, -50%);
}

.ui-u
{
	left: 50%; top:0;
	transform: translate(-50%, 0);
}

.ui-d
{
	left: 50%; bottom: 0;
	transform: translate(-50%, 0);
}

.ui-l
{
	left: 0; top: 50%;
	transform: translate(0, -50%);
}

.ui-r
{
	right: 0; top: 50%;
	transform: translate(0, -50%);
}

.ui-default
{
	opacity: 0;
	cursor: default !important;
}

.ui li
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	
	position: absolute;
	
	background: yellow;
	
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
	
	cursor: pointer;

	transition: 200ms ease-in-out;

	transform-origin: 50% 50%;
}

.ui li:hover
{
	background: #fff;
}

.ui-touch
{
	background: #fff;
}

.ui li div
{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	
	position: absolute;
	
	background: #333;
	
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	
	pointer-events: none;
}

.ui-hint
{
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	left: 0; top: 0;	
}

.ui-hint ul
{
	/* 	OFF SET BORDER TO WIDTH AND HEIGHT */
	width: calc(100% - 160px);
	height: calc(100% - 160px);
	
	position: absolute;
	left: 50%; top: 50%;
	
	transform: translate(-50%, -50%);
}

.ui-arrow
{
	width: 40px;
	height: 40px;
	border-radius: 0;
	
	position: absolute;
	
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
	
	cursor: pointer;

	transition: 200ms ease-in-out;	

	transform-origin: 50% 50%;
}

.ui-hint .ui-u
{
	left: 50%; top:0;
	transform: translate(-50%, 0) rotate(270deg);
}

.ui-hint .ui-d
{
	left: 50%; bottom: 0;
	transform: translate(-50%, 0) rotate(90deg);
}

.ui-hint .ui-l
{
	left: 0; top: 50%;
	transform: translate(0, -50%) rotate(180deg);
}

.ui-hint .ui-r
{
	right: 0; top: 50%;
	transform: translate(0, -50%) rotate(0deg);
}

.ui-arrow > div
{
	width: inherit;
	height: inherit;
	position: absolute;

	pointer-events: none;

	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;

	animation: uiArrowFrames 800ms steps(4) infinite;
}

@keyframes uiArrowFrames
{
	0%		{transform: translateX(0);}
	40%		{transform: translateX(-100%);}
	80%  	{transform: translateX(0);}
	100%	{transform: translateX(0);}
}



.viewer
{
	width: 2000px;
	height: 1330px;

	position: absolute;

	transition: transform 800ms ease-in-out 800ms;
}

.bg
{
	width: inherit;
	height: inherit;

	position: absolute;
	left: 0; top: 0;
	
	background: #F45866;
	background: #feecb9;
	
	outline: 1px solid #fe4a49;
}

.section
{
	position: absolute;
	opacity: 0.6;
}

.section p
{
	font-size: 24px;
	position: absolute;
	
	font-family: sans-serif;
	font-weight: 100;
	line-height: 1;
	
	display: block;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	
	color: #fff;	
}

.player
{
	width: 176px;
	height: 400px;
	width: 110px;
	height: 250px;
	position: absolute;
/* 	background: #ff0033; */
	
	transition: transform 1600ms ease-in-out;
}

.player .player-inner, .player .player-base
{
	width: inherit;
	height: inherit;
	position: absolute;

	left: 0; top: 0;

	transform-origin: 50% 0%;
}

.player .player-layer
{
	width: inherit;
	height: inherit;
	position: absolute;

	left: 0; top: 0;

	transform-origin: 50% 0%;	
}

.gfx-player
{
	background-image: url(../img/sadly.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.gfx-player-legL
{
	background-image: url(../img/sadly_LegL.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.gfx-player-legR
{
	background-image: url(../img/sadly_LegR.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.gfx-player-body
{
	background-image: url(../img/sadly_Body.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.player-forw
{
	transform: scaleX(1);
}

.player-back
{
	transform: scaleX(-1);
}

.player-walk
{
	animation: playerWalkFrames 200ms ease-in-out infinite;
}

@keyframes playerWalkFrames
{
	0%		{transform: translateY(0px);}
	50%		{transform: translateY(10px);}
	100%	{transform: translateY(0px);}
}

.player-walk-legL
{
	animation: playerWalkLegLFrames 100ms ease-in-out infinite;
}

@keyframes playerWalkLegLFrames
{
	0%		{transform: translateY(-10px);}
	50%		{transform: translateY(0px);}
	100%	{transform: translateY(-10px);}
}

.player-walk-legR
{
	animation: playerWalkLegRFrames 100ms ease-in-out infinite;
}

@keyframes playerWalkLegRFrames
{
	0%		{transform: translateY(0px);}
	50%		{transform: translateY(-10px);}
	100%	{transform: translateY(0px);}
}

.thought
{
	width: 40px;
	height: 60px;
	position: absolute;
	right: 0; top: 0;

	opacity: 0;

	transition: opacity 200ms ease-out;
}

.thought-thinking
{
	opacity: 1;
}

.gfx-thought
{
	background-image: url(../img/speech.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;	
}

.blend
{
	width: inherit;
	height: inherit;
	
	position: absolute;
	
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 150px #fe4a49;
}

.edge
{
	width: 100%;
	height: 100%;

	position: absolute;

	outline: 20px solid #fff;
	outline-offset: -20px;
}

.item
{
	opacity: 1;
}

.item0
{
	width: 50px;
	height: 50px;
	position: absolute;
	background: #ff0033;
	border-radius: 50%;
	left: 0; right: 0; top: 0; bottom: 0;

	margin: auto auto 0 auto;
}




/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{
	.camera
	{
		width: 100%;
		height: 100%;
	}
}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	.camera
	{
		width: 100%;
		height: 100%;
	}
}

/* TABLET */
@media only screen and (min-width: 900px)
{
	.camera
	{
		width: 70%;
		height: 70%;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{
	.camera
	{
		width: 70%;
		height: 70%;
	}
}